* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner", cursive;
}

header {
    background-image: url(../img/wall.png);
    height: 100px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 4rem;
}

main {
    background: url(../img/cork.png);
    height: 650px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

figure {
    width: 240px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    padding: 5px;
}

.card {
    width: 200px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 1px black;
}

.pin {
    width: 30px;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translate(-50%, -50%);
}

figcaption {
    background-color: white;
    position: absolute;
    top: 200px;
    right: 5px;
    left: 5px;
    box-shadow: 2px 2px 1px black;
}