* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner", cursive;
}

header {
    background-image: url(../img/wall.png);
    height: 100px;
}

h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 4rem;
}

main {
    background: url(../img/cork.png);
    height: 1000px;
    padding: 0 100px;
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

figure {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    position: relative;
    padding: 5px;
    transition: transform 0.5s ease;
}

figure:hover {
    transform: rotate(10deg);
    z-index: 1;
}

.card {
    width: 100%;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 1px black;
    cursor: pointer;
}

.pin {
    width: 30px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
}

figure:hover .pin {
    opacity: 0;
}

figcaption {
    background-color: white;
    position: absolute;
    top: 395px;
    right: 5px;
    left: 5px;
    box-shadow: 2px 2px 5px black;
    text-transform: capitalize;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.d-none {
    display: none !important;
}

button {
    cursor: pointer;
}